@media screen and (max-width: pxTorem(768px)) {
	.rp-menumovil{
		position: relative;
		z-index: 9990;
		

		& .rp-dropdown{
			position: fixed;
			top: var(--spfp-section-padding);
			right: var(--spfp-section-padding);
			left: auto;
			display: inline-block;
			font-weight: 400;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			user-select: none;
			border: 1px solid rgba(0,0,0,0);
			padding: 0;
			font-size: 2rem;
			line-height: pxTorem(36px);
			background-color: rgba(0,0,0,0);
			color: var(--spfp-menu-color);
			cursor: pointer;
			outline: 0;
			width: pxTorem(36px);
			height: pxTorem(36px);
			transition: all .15s ease-in-out;

			&.active{
				z-index: 9997;
			}
			&:not(.active){
				z-index: -1;
			}

			& .icon{}
		}
		& .rp-menulist{
			position: fixed;
			top: 0;
			left: auto;
			right: 0;
			bottom: 0;
		    display: none;
		    float: left;
		    width: auto;
		    margin: 0;
		    padding: 0;
		    list-style: none inside none;
		    background-color: var(--spfp-menu-list-background);
		    color: var(--spfp-menu-list-color);
		    transition: all 0.5s;
		    z-index: 9999;
		    max-width: 50vw;
		    display: none;

		    &.open{
		    	display: block;
		    }
		    & li,
		    & a{
		    	display: block;
		        float: none;
		        position: relative;
		        cursor: pointer;
		        color: inherit;
		        background-color: inherit;
		        height: auto;
		    }
			& li{
				background: none;


				&:not(:last-child){
					border-bottom: 0.5px solid rgba(#ccc, .45);
				}

				&.active {
		            border-left: 2px solid #fff;

		            & > a {
		                color: #fff;
		                font-weight: bold;
		            }
		        }

				& a{
					font-size: 1.1rem;
		            padding: 0 2rem 0 2.5rem;
		            line-height: pxTorem(45px);
		            height: pxTorem(45px);
		            text-decoration: none;
		            vertical-align: middle;
		            white-space: nowrap;
		            border: none;

					&.rp-dropdown-close{
						font-size: 2rem;
						line-height: 2rem;
					}
					img, .icon {
		                display: block;
		                position: absolute;
		                vertical-align: middle;
		                text-align: center;
		                text-decoration: none;
		                font-size: 1.2rem;
		                left: .5rem;
		                top: 50%;
		                margin-top: -.6rem;
		                width: 1.2rem;
		                height: 1.2rem;
		                color: inherit;

		                &::before {
		                    position: absolute;
		                    top: 0;
		                    left: 0;
		                    line-height: 1.2rem;
		                }
		            }
				}
			}
		}
	}

}
